:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
body {
  margin:0;
  padding:0;
  overflow:hidden;
 
  }
  section{
  height:100%;
  width:100%;
    position:absolute ; 
  }
  h1{
    position: absolute;
    top: 9%;
    z-index: 999999;
    width: 100%;
      font-family: system-ui;
    font-weight: bolder;
    font-size: 3.5em;
    text-align: center;
    transform: translate;
    color: #1e581b;
    transform: translateY(-50%);
  }
  .leaf{
      position:absolute ;
      width:100%;
      height:100%;
      top:0;
      left:0;
  }
  .leaf div{
  position:absolute ;
  display:block ;
  }
  .leaf div:nth-child(1){
      left:20%; 
      animation:fall 15s linear infinite ;
      animation-delay:-2s;
  
  }
  .leaf div:nth-child(2){
      left:0%; 
      animation:fall 15s linear infinite ;
      animation-delay:-4s;
  }
  .leaf div:nth-child(3){
      left:10%; 
      animation:fall 20s linear infinite ;
      animation-delay:-7s;
      
  }
  .leaf div:nth-child(4){
      left:72%; 
     animation:fall 18s linear infinite ; 
     animation-delay:-5s;
  }
  .leaf div:nth-child(5){
      left:0%; 
      animation:fall 14s linear infinite ;
      animation-delay:-5s;
  }
  .leaf div:nth-child(6){
      left:15%; 
      animation:fall 16s linear infinite ;
      animation-delay:-10s;
  }
  .leaf div:nth-child(7){
      left:0%; 
      animation:fall 15s linear infinite ;
      animation-delay:-4s;
  }
  
  @keyframes fall{
      0%{
          opacity:1;
          top:-10%;
          transform:translateX (20px) rotate(0deg);
      }
      20%{
          opacity:0.8;
          transform:translateX (-20px) rotate(45deg);
      }
      40%{
  
          transform:translateX (-20px) rotate(90deg);
      }
      60%{
          
         transform:translateX (-20px) rotate(135deg); 
      }
      80%{
      
          transform:translateX (-20px) rotate(180deg);
      }
      100%{
          
          top:110%;
          transform:translateX (-20px) rotate(225deg);
      }
      }
  .leaf1{
      transform: rotateX(180deg);
  }
  h2{
      position:absolute ;
      top:40%;
      width:100%;
      font-family: 'Courgette', cursive;
      font-size:2.7em;
      text-align:center;
      transform:translate ;
      color:#564b14;
      transform:translateY (-50%);
  }